<footer class="ba-footer">
	<div class="container">
		<div class="ba-footer__content">
			<div class="ba-footer__contact">
				<p>contact us</p>
				<a href="snalion@gmail.com">snalion@gmail.com</a>
				<a href="tel:+88005553535">8-800-555-35-35</a>
			</div>
			<div class="ba-footer__socials">
				<a href="#">
					<i class="ion-social-facebook-outline"></i>
				</a>
				<a href="#">
					<i class="ion-social-twitter-outline"></i>
				</a>
				<a href="#">
					<i class="ion-social-whatsapp-outline"></i>
				</a>


			</div>
		</div>


	</div>
</footer>
